@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-Black.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-BlackItalic.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-Bold.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-BoldItalic.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-ExtraBold.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-ExtraBoldItalic.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-ExtraLight.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans")
    url(../assets/fonts/NunitoSans-ExtraLightItalic.woff2) format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-Italic.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-Light.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-LightItalic.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-Regular.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSansSB";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-SemiBold.woff2)
    format(".woff2");
}
@font-face {
  font-family: "NunitoSansSBI";
  src: local("NunitoSans") url(../assets/fonts/NunitoSans-SemiBoldItalic.woff2)
    format(".woff2");
}

:root {
  /* ------ Colors ------ */

  --color-primary-main: #e6ae48;
  --color-primary-dark: #c28d2b;

  --color-neutral-white: #ffffff;
  --color-neutral-50: #f5f5f5;
  --color-neutral-100: #989898;
  --color-neutral-150: #b5b5b5;
  --color-neutral-200: #767676;
  --color-neutral-300: #5e5e5e;
  --color-neutral-900: #1a1a1a;
  --color-neutral-black: #000000;

  /* ------ Borders & shadows ------ */

  --border-color-input: #e9e9e9;
  --border-mobile-navMenu: rgba(255, 255, 255, 0.03);
  --color-text-input: #acacac;

  --shadow-desktop-navMenu: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  --shadow-desktop-input: inset 0 0 2px 2px rgba(0, 0, 0, 0.02);

  /* ------ Fonts ------ */

  --font-family: "NunitoSans", Helvetica, Arial, sans-serif;

  --font-weight-desktop-h1: 700;
  --font-weight-desktop-h2: 700;
  --font-weight-desktop-h3: 700;
  --font-weight-desktop-h4: 400;
  --font-weight-desktop-h5: 800;
  --font-weight-desktop-h6: 800;
  --font-weight-desktop-big: 400;
  --font-weight-desktop-a: 700;
  --font-weight-desktop-body: 400;

  --font-size-desktop-h1: 5.8rem;
  --font-size-desktop-h2: 5.8rem;
  --font-size-desktop-h3: 3.6rem;
  --font-size-desktop-h4: 2.2rem;
  --font-size-desktop-tb: 2.1rem;
  --font-size-desktop-h5: 1.9rem;
  --font-size-desktop-h6: 1.4rem;
  --font-size-desktop-big: 1.6rem;
  --font-size-desktop-a: 1.4rem;
  --font-size-desktop-body: 1.4rem;

  --font-LH-desktop-h1: 6rem;
  --font-LH-desktop-h2: 6rem;
  --font-LH-desktop-h3: 4.2rem;
  --font-LH-desktop-h4: 2.8rem;
  --font-LH-desktop-h5: 2.6rem;
  --font-LH-desktop-h6: 2.4rem;
  --font-LH-desktop-big: 2.8rem;
  --font-LH-desktop-body: 2.4rem;
  --font-LH-desktop-a: 2.4rem;
  --font-LH-desktop-tb: 2.1rem;

  --font-weight-tablet-h1: 700;
  --font-weight-tablet-h2: 700;
  --font-weight-tablet-h3: 700;
  --font-weight-tablet-h4: 400;
  --font-weight-tablet-h5: 800;
  --font-weight-tablet-h6: 800;
  --font-weight-tablet-big: 400;
  --font-weight-tablet-body: 400;
  --font-weight-tablet-a: 600;

  --font-size-tablet-h1: 4.4rem;
  --font-size-tablet-h2: 4.4rem;
  --font-size-tablet-h3: 2.7rem;
  --font-size-tablet-h4: 1.7rem;
  --font-size-tablet-tb: 2.1rem;
  --font-size-tablet-h5: 1.4rem;
  --font-size-tablet-h6: 1.3rem;
  --font-size-tablet-big: 1.3rem;
  --font-size-tablet-body: 1.3rem;
  --font-size-tablet-a: 1.4rem;
  --font-size-tablet-big2: 1.6rem;

  --font-LH-tablet-h1: 4.5rem;
  --font-LH-tablet-h2: 4.5rem;
  --font-LH-tablet-h3: 3.2rem;
  --font-LH-tablet-h4: 2.1rem;
  --font-LH-tablet-h5: 2rem;
  --font-LH-tablet-h6: 1.9rem;
  --font-LH-tablet-big: 2.1rem;
  --font-LH-tablet-body: 1.9rem;
  --font-LH-tablet-tb: 2.1rem;
  --font-LH-tablet-a: 2.4rem;
  --font-LH-tablet-big2: 2.8rem;

  --font-weight-mobile-h1: 700;
  --font-weight-mobile-h2: 700;
  --font-weight-mobile-h3: 700;
  --font-weight-mobile-h5: 600;
  --font-weight-mobile-h6: 800;
  --font-weight-mobile-h4: 400;
  --font-weight-mobile-big: 400;
  --font-weight-mobile-body: 400;
  --font-weight-mobile-a: 700;
  --font-weight-mobile-a2: 900;
  --font-weight-mobile-big2: 400;

  --font-size-mobile-h1: 3.5rem;
  --font-size-mobile-h2: 3.5rem;
  --font-size-mobile-h3: 2.2rem;
  --font-size-mobile-h4: 1.3rem;
  --font-size-mobile-tb: 2.1rem;
  --font-size-mobile-h5: 1.4rem;
  --font-size-mobile-h6: 1.3rem;
  --font-size-mobile-big: 1.3rem;
  --font-size-mobile-body: 1.4rem;
  --font-size-mobile-a: 1.2rem;
  --font-size-mobile-title: 1.5rem;

  --font-LH-mobile-h1: 3.6rem;
  --font-LH-mobile-h2: 3.6rem;
  --font-LH-mobile-h3: 2.5rem;
  --font-LH-mobile-h4: 1.9rem;
  --font-LH-mobile-h5: 1.9rem;
  --font-LH-mobile-h6: 1.9rem;
  --font-LH-mobile-big: 1.9rem;
  --font-LH-mobile-body: 1.9rem;
  --font-LH-mobile-tb: 2.1rem;
  --font-LH-mobile-a: 2.4rem;
  --font-LH-mobile-p: 1.6rem;

  /* ---------------- @media help -------------- */

  /* (min-width: 960px) --- Desktop */
  /* (min-width: 480px) and (max-width: 959px) --- Tablet */
  /* (max-width: 479px) --- Mobile */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px !important;
  scroll-behavior: smooth !important;
}
