@import url(global.css);
* {
    /*//remove default margin and padding*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.box-heder {
    background-color: var(--border-color-input);
}

.box-heder__n1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--border-color-input) ;
}

.box-heder__n1__h {
    color: black;
    font-family:var( --font-family);
    font-size: var(--font-size-desktop-h1) ;
    margin-top:200px ;
    font-weight: var(--font-weight-desktop-h1);
}

.box-heder__n2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #F5F5F5 ;
}

.box-heder__n1__p {
    text-align: center;
    color: black;
    font-family: var(--font-family) ;
    font-size: var(--font-weight-mobile-h1) ;
    padding:20px  40px;
}

.box-heder__n3 {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.box-heder__n3__img {
    width: 100%;
}

.box-text {
    padding: 80px  40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family) ;
    font-size: var(--font-weight-mobile-h1) ;
}

.box-text__p {
    font-weight: bold;
    text-align: center;
    font-family: var(--font-family) ;
    font-size: var(font-size-mobile-h3) ;
}

.box-button {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-button__n__1 {
    padding:20px ;
    border-bottom: var(--border-color-input);
    width: 250px;
    height: auto;
    background-color: var(--border-color-input);
    box-shadow: var(--border-mobile-navMenu);
}

.box-button__n__1:hover {
    background-color:var(--color-primary-main);
}
.box-button__n__1__b {
    text-align: center;
    color: var(--color-neutral-black);
}

.box-button__n__1__b1 {
    text-align: center;
    color: var(--color-neutral-black);
}

.box-button__n__1__b2 {
    text-align: center;
    color: var(--color-neutral-black);
}
.box-img {
    padding: 80px  40px;
    width: 100%;
}

.box-img__n1__p1 {
    padding-top: 10px;
    font-family:var(--font-family) ;
    font-size: var( --font-weight-mobile-h3) ;
}

.box-img__n2__img {
    width: 100%;
    padding-top: 40px;
}

.box-img1 {
    padding: 15px  40px;
    width: 100%;
}

.box-img1__n1__p1 {
    padding-top: 10px;
    font-family: var(--font-family) ;
    font-size: var( --font-weight-mobile-h3) ;
}

.box-img1__n2__img {
    width: 100%;
    padding-top: 40px;
}

.box-titr {
    padding: 15px  40px;
}

.box-foter {
    padding: 15px  40px;
}

.box-foter__n1__p {
    padding: 15px 0px;
    font-family: var(--font-family);
    font-size: var(--font-weight-mobile-h3);
}

.box-foter__n2__p {
    padding: 15px 0px;
    font-family: var(--font-family) ;
    font-size: var( --font-weight-mobile-h3);
}

.box-min {
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
}

.box-min__n1__img{
    width: 100%;
}
.box-min__n1 {
    padding: 20px 20px ;
}

.box-min__n2__p {
    font-weight: bold;
    font-family: var(--font-family) ;
    font-size: var( --font-weight-mobile-h3) ;
    padding:15px 0px ;
}

.box-min__n2__p1{
    font-family: var(--font-family) ;
    font-size: var( --font-weight-mobile-h3) ;
}

@media(min-width: 480px) and (max-width: 959px) {
    .box-img {
        padding: 80px  40px;
        width: 100%;
        display: flex;
    }
    .box-img__n2__img {
        padding:0 ;
    }
    .box-img__n1 {
        padding-top: 20px;
    }
    .box-img__n1__p1 {
        padding-right: 20px;
    }
    .box-min{
        display: flex;
        padding: 20px 150px;
    }
    .box-min__n2 {
        width: 60% ;
        padding: 0px 40px ;
    }
    .box-button__n {
        display: flex;
        padding: 20px  400px;
    }
    .box-button__n__1 {
        box-shadow: none;
        background-color: var(--color-neutral-white);
        padding: 20px  150px;
    }

    .box-button__n__1:hover {
        background-color:var(--color-primary-main);
    }

    .box-img1 {
        padding: 80px  40px;
        width: 100%;
        display: flex;
    }
    .box-img1__n1 {
        padding-top: 20px;
    }

    .box-img1__n1__p1 {
        padding-top: 20px;
        font-size:var(--font-weight-tablet-h2) ;
        font-family: var(--font-family);
    }

    .box-img1__n2__img {
        padding:0 ;
    }
    .box-foter {
        display: flex;
    }
    .box-foter__n1 {
        padding: 0px 0px ;
    }
    .box-foter__n1__p {
        padding: 0px 0px ;
        font-size:var(--font-weight-tablet-h2) ;
        font-family: var(--font-family) ;
    }
    .box-foter__n1__p {
        padding:15px 0px ;
        font-size: var(--font-family) ;
        font-family: var(--font-weight-tablet-h2) ;
    }

    .box-foter__n2__p {
        padding: 0px 15px ;
        font-size:var(--font-weight-tablet-h2) ;
        font-family: var(--font-family) ;
    }

}

@media  (min-width: 960px) {
    .box-img {
        padding: 100px  200px;
        width: 100%;
        display: flex;
    }
    .box-img__n2__img {
        padding:0 ;
    }
    .box-img__n1 {
        padding:50px 20px;
    }
    .box-img__n1__p1 {
        padding-right: 20px;
        font-size:var( --font-weight-desktop-h1) ;
        font-family: var() ;
    }
    .box-min{
        display: flex;
        padding: 20px  400px;
    }
    .box-min__n2 {
        width: 60% ;
        padding: 0px 40px ;
    }

    .box-button__n {
        display: flex;
    }

    .box-button__n__1:hover {
        background-color:var(--color-primary-main);
    }

    .box-button__n__1 {
        box-shadow: none;
        background-color: var(--color-neutral-white);
        padding: 20px  150px;
    }

    .box-img1 {
        padding: 100px  200px;
        width: 100%;
        display: flex;
    }
    .box-img1__n1 {
        padding-top: 20px;
    }

    .box-img1__n1__p1 {
        padding-top: 20px;
        font-size:var(-font-weight-desktop-h1) ;
        font-family: var(--font-family);
    }

    .box-img1__n2__img {
        padding:0 ;
    }
    .box-titr {
        padding: 20px  200px;
    }
    .box-foter {
        display: flex;
        padding: 20px  200px;
    }
    .box-foter__n1 {
        padding: 0px 0px ;
    }
    .box-foter__n1__p {
        padding: 0px 0px ;
        font-size: var(--font-weight-desktop-h4) ;
        font-family:var(--font-family) ;
    }
    .box-foter__n1__p {
        padding:15px 0px ;
        font-size: var(--font-weight-desktop-h4) ;
        font-family:var(--font-family) ;
    }

    .box-foter__n2__p {
        padding: 0px 15px ;
        font-size:var(--font-weight-desktop-h4) ;
        font-family:var(--font-family) ;
    }
    .box-heder__n1__p {
        padding: 40px  200px;
        font-size: var(--font-family) ;
        font-family: var(--font-family) ;
    }
}