@import url(global.css);
* {
    /*//remove default margin and padding*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}

.box-heder {
    background-color: #F5F5F5;
}

.box-heder__n1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #F5F5F5 ;
}

.box-heder__n1__h {
    color: black;
    font-family:;
    font-size: ;
    margin-top:200px ;
}

.box-heder__n2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #F5F5F5 ;
}

.box-heder__n1__p {
    text-align: center;
    color: black;
    font-family: ;
    font-size: ;
    padding:20px  40px;
}

.box-heder__n3 {
    width: 100%;
    height: auto;
    padding-top: 40px;
}

.box-heder__n3__img {
    width: 100%;
}

.box-text {
    padding: 80px  40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ;
    font-size: ;
}

.box-text__p {
    font-weight: bold;
    text-align: center;
    font-family: ;
    font-size: ;
}

.box-button {
    justify-content: center;
    align-items: center;
    display: flex;
}

.box-button__n__1 {
    padding:20px ;
    border-bottom: #F9F9F9;
    width: 250px;
    height: auto;
    background-color: #F9F9F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-button__n__1:hover {
    background-color:orange;
}
.box-button__n__1__b {
    text-align: center;
    color: black;
}

.box-button__n__1__b1 {
    text-align: center;
    color: black;
}

.box-button__n__1__b2 {
    text-align: center;
    color: black;
}
.box-img {
    padding: 80px  40px;
    width: 100%;
}

.box-img__n1__p1 {
    padding-top: 10px;
    font-family: ;
    font-size: ;
}

.box-img__n2__img {
    width: 100%;
    padding-top: 40px;
}

.box-img1 {
    padding: 15px  40px;
    width: 100%;
}

.box-img1__n1__p1 {
    padding-top: 10px;
    font-family: ;
    font-size: ;
}

.box-img1__n2__img {
    width: 100%;
    padding-top: 40px;
}

.box-titr {
    padding: 15px  40px;
}

.box-foter {
    padding: 15px  40px;
}

.box-foter__n1__p {
    padding: 15px 0px;
    font-family: ;
    font-size: ;
}

.box-foter__n2__p {
    padding: 15px 0px;
    font-family: ;
    font-size: ;
}

.box-min {
    align-items: center;
    justify-content: center;
    padding: 15px 40px;
}

.box-min__n1__img{
    width: 100%;
}
.box-min__n1 {
    padding: 20px 20px ;
}

.box-min__n2__p {
    font-weight: bold;
    font-family: ;
    font-size: ;
    padding:15px 0px ;
}

.box-min__n2__p1{
    font-family: ;
    font-size: ;
}

@media(min-width: 480px) and (max-width: 959px) {
    .box-img {
        padding: 80px  40px;
        width: 100%;
        display: flex;
    }
    .box-img__n2__img {
        padding:0 ;
    }
    .box-img__n1 {
        padding-top: 20px;
    }
    .box-img__n1__p1 {
        padding-right: 20px;
    }
    .box-min{
        display: flex;
        padding: 20px 150px;
    }
    .box-min__n2 {
        width: 60% ;
        padding: 0px 40px ;
    }
    .box-button__n {
        display: flex;
        padding: 20px  400px;
    }
    .box-button__n__1 {
        box-shadow: none;
        background-color: white;
        padding: 20px  150px;
    }

    .box-button__n__1:hover {
        background-color:orange;
    }

    .box-img1 {
        padding: 80px  40px;
        width: 100%;
        display: flex;
    }
    .box-img1__n1 {
        padding-top: 20px;
    }

    .box-img1__n1__p1 {
        padding-top: 20px;
        font-size: ;
        font-family: ;
    }

    .box-img1__n2__img {
        padding:0 ;
    }
    .box-foter {
        display: flex;
    }
    .box-foter__n1 {
        padding: 0px 0px ;
    }
    .box-foter__n1__p {
        padding: 0px 0px ;
        font-size: ;
        font-family: ;
    }
    ..box-foter__n1__p {
        padding:15px 0px ;
        font-size: ;
        font-family: ;
    }

    .box-foter__n2__p {
        padding: 0px 15px ;
        font-size: ;
        font-family: ;
    }

}

@media  (min-width: 960px) {
    .box-img {
        padding: 100px  200px;
        width: 100%;
        display: flex;
    }
    .box-img__n2__img {
        padding:0 ;
    }
    .box-img__n1 {
        padding:50px 20px;
    }
    .box-img__n1__p1 {
        padding-right: 20px;
        font-size: ;
        font-family: ;
    }
    .box-min{
        display: flex;
        padding: 20px  400px;
    }
    .box-min__n2 {
        width: 60% ;
        padding: 0px 40px ;
    }

    .box-button__n {
        display: flex;
    }

    .box-button__n__1:hover {
        background-color:orange;
    }

    .box-button__n__1 {
        box-shadow: none;
        background-color: white;
        padding: 20px  150px;
    }

    .box-img1 {
        padding: 100px  200px;
        width: 100%;
        display: flex;
    }
    .box-img1__n1 {
        padding-top: 20px;
    }

    .box-img1__n1__p1 {
        padding-top: 20px;
        font-size: ;
        font-family: ;
    }

    .box-img1__n2__img {
        padding:0 ;
    }
    .box-titr {
        padding: 20px  200px;
    }
    .box-foter {
        display: flex;
        padding: 20px  200px;
    }
    .box-foter__n1 {
        padding: 0px 0px ;
    }
    .box-foter__n1__p {
        padding: 0px 0px ;
        font-size: ;
        font-family: ;
    }
    ..box-foter__n1__p {
        padding:15px 0px ;
        font-size: ;
        font-family: ;
    }

    .box-foter__n2__p {
        padding: 0px 15px ;
        font-size: ;
        font-family: ;
    }
    .box-heder__n1__p {
        padding: 40px  200px;
        font-size: ;
        font-family: ;
    }
}