@import url(global.css);

.cotainerhome{
    /* background-color: blueviolet; */
    /* height: 100vh; */
    width: 100%;
}
.containerhome__banner{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.containerhome__banner__bannerText{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align:center ;
    width: 80%;
    padding: 5px;
}
.containerhome__banner img {
    width: 1920px;
    height: 100vh;
}
.containerhome__banner h2{
    color: var(--color-primary-main);
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-h2);
    line-height: var(--font-LH-mobile-h2);
    font-weight: var(--font-weight-mobile-h2);
    margin-bottom: 15px;
}
.containerhome__banner p{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-big);
    line-height: var(--font-LH-mobile-big);
    font-weight: var(--font-weight-mobile-big);
    color: var(--color-neutral-300);
    margin-bottom: 15px;
    padding: 10px;
}
.containerhome__banner a{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-a);
    line-height: var(--font-LH-mobile-a);
    font-weight: var(--font-weight-mobile-a);
text-decoration: none;
color: black;
font-weight: 900;
}
.product__category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-top: 150px; */
    width: 100%;
}
.product__category h2{
    color: var(--color-primary-main);
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-h2);
    line-height: var(--font-LH-mobile-h2);
    font-weight: var(--font-weight-mobile-h2);
    margin-bottom: 20px;
}
.product__category__furniture,
.product__category__lighting,
.product__category__accessories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.imagesContainer{
    display: inline-block;
    justify-content: center;
    position: relative;
    width: 80%;
    height: auto;
    overflow: hidden;
}
.imagesContainer img{
    width: 100%;
    transition: transform .5s linear ;
}
.imagesContainer:hover img{
    transform: scale(1.1);
}
.hoverimage{
    position: absolute;
    bottom: 0;
}
.hoverimage img{
    padding: 160px;
    background-color: var(--color-primary-main);
    opacity: 0;
    transition: all .5s linear ;
}
.hoverimage:hover img{
    opacity: .8;
}
.product__category__divider{
    height: 8px;
    width: 80%;
    margin-bottom: 16px;
}
.product__category__furniture p,
.product__category__lighting p,
.product__category__accessories p{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-h5);
    line-height: var(--font-LH-mobile-h5);
    font-weight: var(--font-weight-mobile-h5);
    padding: 10px 0 10px 0;
    letter-spacing: 5PX;
}
.procces{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px 0 140px 0;
}
.process__text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    }
.process__text h2{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-h2);
    line-height: var(--font-LH-mobile-h2);
    font-weight: var(--font-weight-mobile-h2);
    color: var(--color-neutral-white);
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px;
}
.process__text a{
    background-color: var(--color-primary-main);
    width: 80%;
    height: 50px;
    text-decoration: none;
    color: var(--color-neutral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-a);
    line-height: var(--font-LH-mobile-a);
    font-weight: var(--font-weight-mobile-a);
    transition: all .5s ease;
}
.process__text:hover a{
    background-color: var(--color-primary-dark);
}
.procces video{
    height: 664px;
}
.introduce{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.introduce__images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce__images img{
    width: 90%;
}
.introduce__text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}
.introduce__text h3{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-h3);
    line-height: var(--font-LH-mobile-h3);
    font-weight: var(--font-weight-mobile-h3);
    padding: 70px 0 20px 0;
}
.introduce__text p{
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-big);
    line-height: var(--font-LH-mobile-big);
    font-weight: var(--font-weight-mobile-big);
    color: var(--color-neutral-300);
    margin-bottom: 30px;
}
.introduce__text a{
    background-color: var(--color-primary-main);
    /* width: 40%; */
    /* height: 50px; */
    padding: 8px 20px;
    text-decoration: none;
    color: var(--color-neutral-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size-mobile-a);
    line-height: var(--font-LH-mobile-a);
    font-weight: var(--font-weight-mobile-a);
    margin-bottom: 150px;
    transition: all .5s ease;
}
.introduce__text:hover a{
    background-color: var(--color-primary-dark);
}