    @import url(global.css);
    .containerproductdetail {
        background-color: rgb(255, 255, 255);
        width: 100%;
    }
    
    .containerproductdetail_image_wrapper {
        width: 100%;
        height: auto;
        padding: 80px 0 0 0;
    }
    
    .containerproductdetail_image_wrapper img {
        width: 100%;
    }
    
    .containerproductdetail_maintext {
        font-family: var(--font-family);
        padding: 120px 32px 100px;
    }
    
    .containerproductdetail_maintext_title {
        padding: 0 0 36px 0;
    }
    /* font weight problem */
    
    .containerproductdetail_maintext_title h2 {
        color: var(--color-neutral-900);
        font-size: var(--font-size-mobile-h2);
        /* font-weight: var(--font-weight-mobile-h2); */
        font-weight: 500;
        line-height: var(--font-LH-mobile-h2);
        margin-bottom: 16px;
    }
    /* font wieght problem */
    
    .containerproductdetail_maintext_title p {
        color: var(--color-neutral-300);
        font-size: var(--font-size-mobile-big);
        /* font-weight: var(--font-weight-mobile-big); */
        font-weight: 100;
        line-height: var(--font-LH-mobile-big);
    }
    
    .containerproductdetail_table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: inset 0px 4px 3px -2px rgba(0, 0, 0, .06);
    }
    
    .containerproductdetail_table_row {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }
    
    .containerproductdetail_table td {
        text-align: left;
        padding: 30px 0;
    }
    /* font wieght problem */
    
    .containerproductdetail_table_title {
        width: 35%;
        color: var(--color-neutral-900);
        font-size: var(--font-size-mobile-tb);
        font-weight: 200;
        line-height: var(--font-LH-mobile-tb);
    }
    /* font weight problem */
    
    .containerproductdetail_table_details {
        color: var(--color-neutral-300);
        font-size: var(--font-size-mobile-big);
        line-height: var(--font-LH-mobile-big);
        /* font-weight: var(--font-weight-mobile-big); */
        font-weight: 100;
    }
    /* font weight problem */
    
    .containerproductdetail_table td span {
        font-weight: 500;
    }
    
    .table-first-row-icon-colors {
        display: inline-block;
        margin-right: 10px;
    }
    
    .containerproductdetail_table_btn {
        cursor: pointer;
        border: none;
        background-color: var(--color-primary-main);
        color: var(--color-neutral-white);
        font-size: var(--font-size-mobile-big);
        padding: 10px 20px;
    }
    /* color code for hover mode */
    
    .containerproductdetail_table_btn:hover {
        /* background-color: ; */
    }
    
    .containerproductdetail_attribute_aside_text {
        padding: 36px 0 36px 80px;
        font-family: var(--font-family);
    }
    /* font size problem  */
    
    .containerproductdetail_attribute_aside_text h5 {
        font-size: var(--font-size-mobile-body);
        line-height: var(--font-LH-mobile-h5);
        font-weight: var(--font-weight-mobile-h5);
        margin-bottom: 16px;
    }
    /* font weight problem  */
    
    .containerproductdetail_attribute_aside_text p {
        color: var(--color-neutral-300);
        font-size: var(--font-size-mobile-big);
        font-weight: 100;
        line-height: var(--font-LH-mobile-big);
    }
    /* this area for containerproductdetail_downimage */
    /* for height 300vh  */
    
    .containerproductdetail_image_wrapper_down {
        width: 100%;
        /* padding: 0 0 120px 0; */
    }
    
    .containerproductdetail_image_wrapper_down img {
        width: 100%;
    }
    
    @media (min-width:750px) {
        .containerproductdetail_maintext {
            max-width: 716px;
            padding: 120px 0 100px;
            margin: 0 auto;
        }
        .containerproductdetail_maintext_title {
            width: 70%;
        }
        .containerproductdetail_maintext_title h2 {
            font-size: var(--font-size-tablet-h2);
            /* font-weight: var(--font-weight-tablet-h2); */
            font-weight: 500;
            line-height: var(--font-LH-tablet-h2);
        }
        .containerproductdetail_maintext_title p {
            font-size: var(--font-size-tablet-big);
            /* font-weight: var(--font-weight-mobile-big); */
            font-weight: 100;
            line-height: var(--font-LH-tablet-big);
        }
        .containerproductdetail_attribute {
            width: 100%;
            display: flex;
        }
        .containerproductdetail_attribute_aside_text {
            width: 30%;
            padding: 0 0 0 36px;
        }
        /* we don `t have font-size:1.6rem; */
        .containerproductdetail_attribute_aside_text h5 {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
    
    @media (min-width:960px) {
        .containerproductdetail_maintext_title h2 {}
    }